*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
pkg/mod
website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

.env
.envs
**/.terraform.lock.hcl

/examples/resources/schema_migrations/**

# setup
Brewfile.lock.json

# local files
.access
clickhouse
config.d
metadata*
preprocessed_configs/
status
store
terraform-provider-clickhouse
uuid
